<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./Navbar.css" />
  </head>
  <body>
    <nav class="nav__root">
      <div class="nav__section">
        <a href="/" class="nav__logo"> StayHealthy </a>
      </div>
      <div class="nav__section">
        <!-- Navigation icon section with an onClick event listener -->
        <!-- <div class="nav__icon" onClick="{handleClick}">
          <i class="fa fa-times fa fa-bars"></i>
        </div> -->

        <!-- Unordered list for navigation links with 'active' class -->
        <ul class="nav__links active">
          <!-- List item for the 'Home' link -->
          <li class="nav__link">
            <a href="../Landing_Page/LandingPage.html">Home</a>
          </li>
          <!-- List item for the 'Appointments' link -->
          <li class="nav__link">
            <a href="#">Appointments</a>
          </li>
          <!-- List item for the 'Sign Up' link with a button -->
          <li class="nav__link">
            <a href="../Sign_Up//Sign_Up.html">
              <button class="nav__button">Sign Up</button>
            </a>
          </li>
          <!-- List item for the 'Login' link with a button -->
          <li class="nav__link">
            <a href="../Login/Login.html">
              <button class="nav__button">Login</button>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </body>
</html>
